In [2]:
import pandas as pd

#reading excels and storing in dataframes
df1 = pd.read_excel('/content/LCA_Disclosure_Data_FY2025_Q1.xlsx')
df2 = pd.read_excel('/content/LCA_Disclosure_Data_FY2025_Q2.xlsx')
df3 = pd.read_excel('/content/LCA_Disclosure_Data_FY2025_Q3.xlsx')
df4 = pd.read_excel('/content/LCA_Disclosure_Data_FY2025_Q4.xlsx')

In [3]:
df1

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-24366-578757,Withdrawn,2024-12-31,2024-12-31,NaT,H-1B,Database Administrator,15-1242.00,Database Administrators,N,...,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-24366-578499,Withdrawn,2024-12-31,2024-12-31,NaT,H-1B,Abdominal Radiologist Assistant Professor Clin...,29-1224.00,Radiologists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-24366-578081,Withdrawn,2024-12-31,2024-12-31,NaT,H-1B,PROJECT MANAGER,15-1299.09,Information Technology Project Managers,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-24366-578384,Withdrawn,2024-12-31,2024-12-31,NaT,H-1B,Database Administrators,15-1242.00,Database Administrators,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-24366-578405,Withdrawn,2024-12-31,2024-12-31,NaT,H-1B,Computer Systems Analyst,15-1211.00,Computer Systems Analysts,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,REDDY,LOKESH CHANGALRAI,NaN,"TECH MAHINDRA (AMERICAS), INC",LR00821941@TECHMAHINDRA.COM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107409,I-200-21265-600769,Certified - Withdrawn,2021-09-22,2024-10-01,2021-09-29,H-1B,SENIOR SALESFORCE DEVELOPER,15-1121.00,Computer Systems Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,Crusha,Jeffrey,M,"FRAGOMEN, DEL REY, BERNSEN & LOEWY, LLP.",ndebiasi@fragomen.com
107410,I-200-21217-505028,Certified - Withdrawn,2021-08-05,2024-10-01,2021-08-12,H-1B,Post Doctoral Researcher (Behavioral Health & ...,19-1012.00,Food Scientists and Technologists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
107411,I-200-21173-417532,Certified - Withdrawn,2021-06-22,2024-10-01,2021-06-29,H-1B,Postdoctoral Research Associate,19-1021.00,Biochemists and Biophysicists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
107412,I-200-21172-414601,Certified - Withdrawn,2021-06-21,2024-10-01,2021-06-28,H-1B,Post Doctoral Researcher (Behavioral Health & ...,19-1012.00,Food Scientists and Technologists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
107413,I-200-21168-406895,Certified - Withdrawn,2021-06-17,2024-10-01,2021-06-25,H-1B,Postdoctoral Fellow,15-2021.00,Mathematicians,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [4]:
df2

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-203-25090-815668,Withdrawn,2025-03-31,2025-03-31,NaT,E-3 Australian,Marketing Director,13-1161.00,Market Research Analysts and Marketing Special...,Y,...,NaN,NaN,NaN,NaN,Disclose Business,Cuautle Garcia,Brian,J,"Fragomen, Del Rey, Bernsen & Loewy, LLP",bcuautlegarcia@fragomen.com
1,I-200-25090-813856,Withdrawn,2025-03-31,2025-03-31,NaT,H-1B,Assistant Professor,25-1071.00,"Health Specialties Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-25090-814397,Withdrawn,2025-03-31,2025-03-31,NaT,H-1B,"Experience Lead, Research & Innovation",11-3021.00,Computer and Information Systems Managers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-25090-813987,Withdrawn,2025-03-31,2025-03-31,NaT,H-1B,Senior Software Engineer,15-1252.00,Software Developers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-25090-814321,Withdrawn,2025-03-31,2025-03-31,NaT,H-1B,Director - Software Development,15-1252.00,Software Developers,N,...,No,NaN,NaN,NaN,Disclose Business,Esily,Hady,NaN,Ray Law International P.C.,raylawcases@raylawinternational.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132128,I-200-24366-579579,Withdrawn,2024-12-31,2025-01-01,NaT,H-1B,JAVA DEVELOPER,15-1252.00,Software Developers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
132129,I-200-24366-579629,Withdrawn,2024-12-31,2025-01-01,NaT,H-1B,Java Developer,15-1252.00,Software Developers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
132130,I-200-24353-552632,Certified - Withdrawn,2024-12-17,2025-01-01,2024-12-26,H-1B,Principal Software Engineer,15-1299.08,Computer Systems Engineers/Architects,Y,...,No,Yes,"Both $60,000 or higher in annual wage and Mast...",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
132131,I-200-24187-177411,Certified - Withdrawn,2024-07-05,2025-01-01,2024-07-12,H-1B,Staff Associate II,19-1029.02,Molecular and Cellular Biologists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
132132,I-200-24134-986134,Certified - Withdrawn,2024-05-13,2025-01-01,2024-05-20,H-1B,Data Scientist - Career,15-2051.00,Data Scientists,Y,...,No,NaN,NaN,NaN,Disclose Business,Govindaraj,Kumar,NaN,Seyfarth Shaw LLP,S-EFX-NIVTeam@seyfarth.com

In [5]:
df3

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-25181-143022,Withdrawn,2025-06-30,2025-06-30,NaT,H-1B,Postdoctoral Researcher,19-2031.00,Chemists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-25181-138852,Withdrawn,2025-06-30,2025-06-30,NaT,H-1B,Packaged App Development Assoc Manager,15-1211,Computer Systems Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-25181-141374,Withdrawn,2025-06-30,2025-06-30,NaT,H-1B,Database Administrator,15-1242.00,Database Administrators,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
3,I-200-25181-143473,Withdrawn,2025-06-30,2025-06-30,NaT,H-1B,AI/ML Engineer,15-1252.00,Software Developers,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,Zhang,Sirui,NaN,"BBI Law Group, P.C.",zsirui@bbilawgroup.com
4,I-200-25181-141251,Withdrawn,2025-06-30,2025-06-30,NaT,H-1B,IT Technical Associate â€œ Developer II,15-1242.00,Database Administrators,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238420,I-200-22102-063005,Certified - Withdrawn,2022-04-12,2025-04-01,2022-04-19,H-1B,"Vice President, IT Quant Developer",15-1132.00,"Software Developers, Applications",Y,...,No,NaN,NaN,NaN,Disclose Business,Wronski,Alexander,C.,Kramer Levin Naftalis & Frankel LLP,awronski@kramerlevin.com
238421,I-200-22097-046905,Certified - Withdrawn,2022-04-07,2025-04-01,2022-04-14,H-1B,Software Validation Lead- KBGFJG191519-1,15-1133.00,"Software Developers, Systems Software",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
238422,I-200-22097-045265,Certified - Withdrawn,2022-04-06,2025-04-01,2022-04-13,H-1B,"Member of Technical Staff, Systems Engineer",17-2141.00,Mechanical Engineers,Y,...,No,NaN,NaN,NaN,Disclose Business,Renteria,Brianda,G,Larrabee Albi Coker LLP,brianda@larrabee.com
238423,I-200-22089-021343,Certified - Withdrawn,2022-03-30,2025-04-01,2022-04-06,H-1B,Assistant Professor,25-1011.00,"Business Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
238424,I-200-22053-920994,Certified - Withdrawn,2022-02-22,2025-04-01,2022-03-01,H-1B,Lecturer,25-1124.00,"Foreign Language and Literature Teachers, Post...",Y,...,No,NaN,NaN,NaN,Disclose Business,Carruthers,Latasha,NaN,Ohio State University,carruthers.15@osu.edu

In [6]:
df4

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-25273-349981,Withdrawn,2025-09-30,2025-09-30,NaT,H-1B,"Engagement Manager, Tech",13-1111.00,Management Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-200-25273-346959,Withdrawn,2025-09-30,2025-09-30,NaT,H-1B,Technical Lead,15-1211.00,Computer Systems Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,Degel,Nicholas,T,"Fakhoury Global Immigration, USA PC",nick@fakhouryglobal.com
2,I-200-25273-350685,Withdrawn,2025-09-30,2025-09-30,NaT,H-1B,Product Line Management Engineer,17-2112.02,Validation Engineers,Y,...,No,NaN,NaN,NaN,Disclose Business,Braginsky (S1811),Caitlin,NaN,Tafapolsky & Smith LLP,caitlin.braginsky@tandslaw.com
3,I-200-25273-345200,Denied,2025-09-30,2025-09-30,NaT,H-1B,Senior Software Engineer,15-1252.00,Software Developers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-25273-349063,Withdrawn,2025-09-30,2025-09-30,NaT,H-1B,Lead Software Engineer,15-1252.00,Software Developers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118575,I-200-22125-140786,Certified - Withdrawn,2022-05-05,2025-07-01,2022-05-12,H-1B,Computer Information Systems Faculty,25-1021.00,"Computer Science Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
118576,I-200-22123-130619,Certified - Withdrawn,2022-05-03,2025-07-01,2022-05-10,H-1B,Visiting Assistant Professor,25-1022.00,"Mathematical Science Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
118577,I-200-22117-113190,Certified - Withdrawn,2022-04-27,2025-07-01,2022-05-04,H-1B,Visiting Assistant Professor,25-1022.00,"Mathematical Science Teachers, Postsecondary",Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
118578,I-200-22111-092139,Certified - Withdrawn,2022-04-21,2025-07-01,2022-04-28,H-1B,Construction Plans Examiner,17-2051.00,Civil Engineers,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
118579,I-200-22042-896615,Certified - Withdrawn,2022-02-11,2025-07-01,2022-02-18,H-1B,Postdoctoral Associate/Fellow,19-1021.00,Biochemists and Biophysicists,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN